<ion-view view-title="Browse" view-title="Playlist">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="list list-inset" >
          <label class="item item-input"  ng-click="SearchVideos()">
            <input class="icon ion-search placeholder-icon inputSearch"  ng-model="searchSet.query"  placeholder="Text input"  type="text" />

              <i  class="icon ion-search" ng-click="SearchVideos()"></i>
            </label>
        </div>

        <div ng-repeat="video in searched ">
          <div class="card" ng-click="ModalVideo(video)">
            <div class="item item-text-wrap">
              <h2 class="titleInSearch">{{ video.title}}</h2>
              <img ng-src="{{video.thumbnails.default.url}}">
              <img ng-src="{{ video.image}}"/>
              <p class="DescriptionSearchCard"> <span class="descr"> Описание: </span> {{ video.descript | limitTo:150 }}</p>
              <button  ng-show="video.isF" class="btn btn-info text-right">Добавить в избранное</button>
              <button class="button button-positive" ng-click="ModalVideo(video)">Watch it now!</button>
            </div>
          </div>

        </div>

    </div>

</div>
  </ion-content>
</ion-view>
