<ion-modal-view view-title="OpenVideoController" >
    <ion-header-bar  class="bar bar-header bar-calm">
        <h4 class="title"> Title: {{video.title}}</h4>
        <i class="icon ion-close-round right closeIcon " ng-click="ModalClose()"></i>

    </ion-header-bar>
    <ion-content class="modalContent">
        <h8 class="modalDescription"> It is about: {{video.descript | limitTo: 100}}</h8>
         <div class="frameWrap">
             <iframe class="frame" allowfullscreen ng-src={{videoUrl}}></iframe>
         </div>

    </ion-content>
</ion-modal-view>
