<div class="card">
    <div class="item item-text-wrap">
        <h2 class="h2">{{ video.title}}</h2>
        <img ng-src="{{video.thumbnails.default.url}}">
        <img ng-src="{{ video.image}}"/>
        <p> <span class="descr"> Описание: </span> {{ video.descript | limitTo:150 }}</p>
        <button  ng-show="video.isF" class="btn btn-info text-right">Добавить в избранное</button>
        <button class="btn btn-info"><a ng-href="#/video/{{video.id}}">Watch</a></button>
        <button  ng-hide="video.isF" class="btn btn-info text-right">Удалить</button>
    </div>
</div>