/* Empty. Add your own CSS if you like */
.modalContent {
    padding: 20px;
}
.modalDescription {
    font-size: 16px;
    color:  #4b8bf4;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.frameWrap{
    position: relative;
    padding-bottom: 46.25%;

}
.frame {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

    margin-top: 5% ;
    height: 100%;
    width: 100%;
}

.closeIcon {
    float: right;
}
.DescriptionSearchCard {
    padding: 10px;

}
.titleInSearch {
    font-size: 25px;
    padding: 15px;
    text-align: center;
    font-weight: 800;
}
.inputSearch {
    color: #4b8bf4;
    font-size: 16px;
}
.videoListTitle {
    text-align: center;
    font-size: 30px;
}
.ButtonsBlock {
    text-align: center;
    margin: 20px;
}